<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">

    <h2>Booking Confirmation for <%= @booking.galaxy.name %></h1>

    <%= simple_form_for (@booking) do |f| %>
      <%= f.input :status, collection: Booking.statuses %>
      <%= f.submit "Respond" %>
    <% end %>
  </div>
</div>