<section class="jumbotron text-center">
  <div class="container">
    <h1>Experience a Galaxy</h1>
    <p class="lead text-muted">Something short and leading about the collection.</p>
    <input class="form-control"/>
  </div>
</section>
