<%# Fun feature to make page do a barrel roll %>
<script type="text/javascript">
      var roll_on=0;
     function doBarrelRoll()
     {
            document.body.style.msTransform='rotate(360deg)';
            document.body.style.msTransitionDuration='4s';
            document.body.style.msTransitionProperty='all';
            document.body.style.MozTransform='rotate(360deg)';
            document.body.style.MozTransitionDuration='4s';
            document.body.style.MozTransitionProperty='all';
            document.body.style.WebkitTransform='rotate(360deg)';
            document.body.style.WebkitTransitionDuration='4s';
            document.body.style.WebkitTransitionProperty='all';
            document.body.style.OTransform='rotate(360deg)';
            document.body.style.OTransitionDuration='4s';
            document.body.style.OTransitionProperty='all';
            setTimeout("document.body.removeAttribute('style'); roll_on = 0;",4000);
     }

  function startRoll() {
       if (!roll_on) {
             roll_on=1;
             doBarrelRoll();
       }
  }
 </script>


<div class="header bg-image bg-light">
  <div class="overlay"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 text-left">
        <!-- <h1 class="display-3 font-weight-normal">Go intergalactic</h1> -->
        <h1 class="display-5 font-weight-normal">Discover intergalactic vacations and holidays.</h1>

        <p class="">AirGalaxy is the leading destination to find & list intergalactic holiday accomodations across all of celestial objects.</p>
        <a class="btn btn-outline-warning btn-md small rounded-md" onclick="startRoll()">Apply for Intergalactic Member</a>

      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-3 text-left">
        <div class="m-3 border-left border-warning pl-3" style="position: absolute;">
          <h6 class="font-weight-bold small text-warning">Featured Vacation</h6>
          <h6 class="font-weight-normal">Andromeda Galactica</h6>
          <h4 class="font-weight-normal">$1,898,000 /
            <span class="small">night</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
