<div class="header bg-image bg-light">
  <div class="overlay"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 text-left">
        <!-- <h1 class="display-3 font-weight-normal">Go intergalatic</h1> -->
        <h1 class="display-5 font-weight-normal">Discover intergalatic vacations and holidays.</h1>
        <p class="font-weight-lighter">AirGalaxy is the leading destination to find & list intergalatic holiday accomodations across all of celestial objects.</p>
        <a class="btn btn-outline-warning btn-md small rounded-md">Apply for Intergalatic Member</a>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-3 text-left">
        <div class="m-3 border-left border-warning pl-3" style="position: absolute;">
          <h6 class="font-weight-bold small text-warning">Featured Vacation</h6>
          <h6 class="font-weight-normal">Adromeda Galatica</h6>
          <h4 class="font-weight-normal">$1,898,000 /
            <span class="small">night</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
