<div class="header bg-image bg-light">
  <div class="overlay"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-7 text-left">
        <h1 class="display-4 font-weight-normal">Rent the Universe</h1>
        <p class="lead font-weight-normal">Just when you thought 2020 couldn't get any more epic...</p>
        <!-- <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Disover galaxies..." aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-dark" type="button" id="button-addon2">Explore</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
