<h1>Galaxies#show</h1>
<p>Find me in app/views/galaxies/show.html.erb</p>

<%= link_to "book a galaxy", new_galaxy_booking_path(@galaxy) %>

<p>existing bookings:</p>
<ul>
  <% @galaxy.bookings.each do |booking| %>
  <li> From: <%= booking.start_date %> - To: <%= booking.end_date %></li>
  <% end %>
</ul>
