// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Flatpickr
@import "flatpickr/dist/flatpickr"; 
//Flatpicker theme - options - change - end of the file: 
    // ├── airbnb.css
    // ├── confetti.css
    // ├── dark.css
    // ├── light.css
    // ├── material_blue.css
    // ├── material_green.css
    // ├── material_orange.css
    // └── material_red.css
@import "flatpickr/dist/themes/confetti";

body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: 300 !important;
}

.rounded-lg {
  border-radius: 10px !important;
}

img.galaxy-thumbnail {
  border-radius: 10px;
  height: 200px;
  width: 100%;
}

.card-header {
  height: 200px;
  overflow: hidden;
}

.logo {
  margin-left: 10px;
  margin-top: 12px;
  letter-spacing: 0px;
  color: #820082;
  font-size: 1.5rem;
  line-height: 1rem;
  float: left;

  font-family: 'Bangers';
  font-family: 'Goldman', cursive;
  font-family: 'Modak', cursive;
  font-family: 'Damion', cursive;
  font-family: 'Bungee', cursive;
  // font-family: 'Michroma', sans-serif;
}

a.nav-link,
 {
  color: #888;
  font-size: 14px;
}

a.nav-link.active {
 color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #820082;
    color: #fff;
    border-radius: 20px;
    padding: 7px 30px;
}

 .bg-light-gray {
    background: #f5f5f5;
  }
